polygon {
  top: 200px;
  animation: spin 1000ms infinite linear;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
